body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: royalblue;
    font-weight: 700;
    font-size: 70px;
}
p{
    font-size: 20px;
}
.Diha{
    background-image:linear-gradient(rgb(43, 43, 121));
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left:5%;
   
}
.half img{
    width: 80%;
}
.link-button{
     text-decoration: none;
    background-color: slateblue;
     padding: 10px 40px;
     border-radius: 70%;
     text-align: center;
     color:whitesmoke;
     font-weight: 700;
     

}












.Shorna{
    color: orangered;
}