body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: royalblue;
    font-weight: 700;
    font-size: 70px;
}
p{
    font-size: 20px;
}
.Diha{
    background-image:linear-gradient(rgb(43, 43, 121));
}
.flexible-container{
    display: flex;
   margin-bottom: 10%;
}
.half{
    width: 50%;
    padding-left:5%;
  
   
}
.half img{
    width: 80%;
}
.link-button{
     text-decoration: none;
    background-image: linear-gradient(red,orange);
     padding: 10px 40px;
    border-radius: 15px;
     text-align: center;
     color:whitesmoke;
     font-weight: 700;
     

}
.top-banner{
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
   
}
.Shorna{
    color: orangered;
}
.color{
    color: red;
}
.JANAN{
    text-align: center;
}
.Experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 40px wheat;
    padding-left: 10;
    border-radius: 20px;
}
h5{
    font-weight: 700;
    font-size: 30px;
    padding-right: 5px;
    padding-left: 15px;
    
}
p{
    padding-left: 15px;
}



















