body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: royalblue;
    font-weight: 700;
    font-size: 70px;
}
p{
    font-size: 20px;
}
.Diha{
    background-image:linear-gradient(rgb(43, 43, 121));
}
section{
    display: flex;
   margin-bottom: 10%;
}
.half{
    width: 50%;
    padding-left:5%;
   
}
.half img{
    width: 70%;
}
.link-button{
     text-decoration: none;
    background-image: linear-gradient(red,orange);
     padding: 10px 40px;
    border-radius: 15px;
     text-align: center;
     color:whitesmoke;
     font-weight: 700;
     

}
.top-banner{
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
   
}














.Shorna{
    color: orangered;
}