body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: royalblue;
    font-weight: 700;
    font-size: 70px;
}
p{
    font-size: 20px;
}
.Diha{
    background-image:linear-gradient(rgb(43, 43, 121));
}
.flexible-container{
    display: flex;
   margin-bottom: 10%;
}
.half{
    width: 50%;
    padding-left:5%;
  
   
}
.half img{
    width: 80%;
}
.link-button{
     text-decoration: none;
    background-image: linear-gradient(red,orange);
     padding: 10px 40px;
    border-radius: 15px;
     text-align: center;
     color:whitesmoke;
     font-weight: 700;
     

}
.top-banner{
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
   
 
   
}
.Shorna{
    color: orangered;
}
.color{
    color: red;
}
.JANAN{
    text-align: center;
}
.Experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 40px wheat;
    padding-left: 10;
    border-radius: 20px;
}
h5{
    font-weight: 700;
    font-size: 30px;
    padding-right: 5px;
    padding-left: 15px;
    
}
p{
    padding-left: 15px;
}
 .Rima{
    width:80%;
    padding: 4rem 3rem;
   
   
}
.Shima{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-shadow:0 10px 15px 0 rgb(0,0,0,.2) ;
    margin-left:110px;
    border-radius: 5px;
   
}
.shima h1{
    font-size:40px;
} 
.sathi{
     text-align: center;
     color:black;
     font-size:40px ;
}
.tabassum{
    color: cornsilk;
    
}
.prince{
    font-size: 15px;
    text-align: center;
    padding: 3rem;
    box-shadow:0 10px 15px 0 rgb(0,0,0,.2) ;
    margin-left:110px;
    border-radius: 5px;
}
.tanvir{
    font-size: 40px;
    text-align: center;
    
}
.ria{
    font-size: 20px; 
    text-align: center;
}
.rabbi{
   
   
    align-items: center;
    padding: 3rem;
    box-shadow:0 10px 15px 0 rgb(0,0,0,.2) ;
    margin:0;
    background-color:orangered;
    
    
}









 
















